<div class="extra-style">
    <p>
        This component is defined in the <strong>ComponentLibrary</strong> package.
    </p>
    <link href="lib/ComponentLibrary/additionalStyles.css" rel="stylesheet" />
</div>