@page "/consume-component-3"
@using ComponentLibrary

<h1>Consume component (<code>additionalStyles.css</code> example)</h1>
<HeadContent>
  <link href="_content/ComponentLibrary/additionalStyles.css" rel="stylesheet" />
</HeadContent>

<ExtraStyles />